<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Info</title>
 </head>
 <body>
  <p>Name: <%= @name %></p>
  <p>Breed: <%= @breed %></p>
  <p>Age: <%= @age %> months</p>
 </body>
</html>